.container {
    background-color: rgb(51, 145, 207);
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
}


#titulo_principal {
    font-family: 'Times New Roman', Times, serif;
    font-size: 3rem;

}

#titulo_secundario {
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.5rem;

}

#relogio {
    font-family: 'Courier New', Courier, monospace;
    font-size: 2rem;
    border-radius: 10px;
    background-color: azure;
    margin: 100px;
    box-shadow:  16px 16px 22px #2871a1,
                 -16px -16px 22px #3eb1fd;
}


#site {
    background-image: linear-gradient(45deg, rgb(231, 231, 240), rgb(200, 209, 212));
    height: 100vh;

}

#tabela_atualizacao {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border-radius: 10px;
    background: linear-gradient(145deg, #379bdd, #2e83ba);
    box-shadow:  16px 16px 22px #2871a1,
                 -16px -16px 22px #3eb1fd;
    
}

.linhas_tabela {
    background: none;
    border: transparent
}

#no_ar {
    border-radius: 10px;
    background: linear-gradient(145deg, #379bdd, #2e83ba);
    box-shadow:  16px 16px 22px #2871a1,
    -16px -16px 22px #3eb1fd;
    
}

#sinalizador {
    text-shadow: 2px 2px 5px red;
    
    border-radius: 10px;
    background-color: rgba(255, 19, 19, 0.137);
    border-style: solid;
    width: 5rem;
    font-size: 1rem;
    font-family: serif;
    color: maroon;
    text-align: center;
    animation: animate 
        1.5s linear infinite;
}
@keyframes animate {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 0.7;
    }
    100% {
        opacity: 0;
    }
}

#resultado_atual {
    text-align: center;
    font-size: 2rem;


}

#inserir_dados {
    width: 100%;
    margin: 5%;

}



.titulo_inserir_dados {
    text-align: center;
    font-size: 1.2rem;
    color: white;

}

.bloco_dados {
    text-align: left;
    border-style:ridge;
    border-bottom: black;
    border-radius: 10px;
    background: linear-gradient(145deg, #379bdd, #2e83ba);
   

}

.entrada_hora {
    width: 61%;
    
}

.alinhamento_horas {
    text-align: center;
}

.table {
    text-align: center;
}

.titulo_bloco_dados {
    color: white

}