.container {
    
    text-align: center;
   
}



#titulo_principal {
    
    font-size: 3rem;

}

#titulo_secundario {
    
    font-size: 1.5rem;

}

.caixa_hora {
    border-style: solid;
    border-radius: 20px;
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 10%;
    
}

#relogio {
    
    font-size: 2rem;
    border-radius: 10px;
    background-color: azure;
    width: 61%;
    margin-left: 20%;
    margin-right: 10%;

}
body{
    background: linear-gradient(145deg, #77c7fd, #2591d8);
    background-position: 100%;
   
}

#site {
    font-family:Arial, Helvetica, sans-serif;


}

#tabela_atualizacao {
    margin-left: 10%;
    margin-right: 10%;
    border-radius: 10px;
    background: linear-gradient(145deg, #379bdd, #2e83ba);
    box-shadow:  16px 16px 22px #2871a1,
                 -16px -16px 22px #3eb1fd;
    
}

.linhas_tabela {
    background: none;
    border: transparent
}

#no_ar {
    
    margin-left: 10%;
    margin-right: 10%;
    border-radius: 10px;
    background: linear-gradient(145deg, #379bdd, #2e83ba);
    box-shadow:  16px 16px 22px #2871a1,
    -16px -16px 22px #3eb1fd;
    
}

#sinalizador {
    text-shadow: 2px 2px 5px red;
    margin-left: 10%;
    
    border-radius: 10px;
    background-color: rgba(255, 19, 19, 0.137);
    border-style: solid;
    width: 5rem;
    font-size: 1rem;
    font-family: serif;
    color: maroon;
    text-align: center;
    animation: animate 
        1.5s linear infinite;
}
@keyframes animate {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 0.7;
    }
    100% {
        opacity: 0;
    }
}

#resultado_atual {
    text-align: center;
    font-size: 1.5rem;
   

}

#inserir_dados {
    
    

}



.titulo_inserir_dados {
    text-align: center;
    font-size: 1.2rem;
   

}

.bloco_dados {
    text-align: center;
    border-style:ridge;
    border-bottom: black;
    border-radius: 10px;
    background: linear-gradient(145deg, #379bdd, #2e83ba);


}

.entrada_hora {

    width: 61%;
    border-radius: 5px;
    border: transparent;
    
}

.alinhamento_horas {
    
    margin-top: -5%;
    margin-bottom: -5%;
}

.table {
    text-align: center;
}

.titulo_bloco_dados {
   
    

}
.entrada_nome_link{
    border-radius: 5px;
    border: transparent;
}

.denominador_input_site {
   margin-right: 5px;
   margin-left: 30px;
}
.botao_enviar {
    margin-top: 20px;
    font-size: 1.5rem;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    border-radius: 7px;
    background: linear-gradient(145deg, #3ba6ec, #328cc7);
    box-shadow:  8px 8px 15px #23628b,
             
}

.botao_enviar:hover {
    background: linear-gradient(145deg, #69c6ff, #58a7db);
    color: rgb(255, 255, 255);
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}